body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(53, 53, 56);
}

h1 {
    font-size: 15rem;

}

.letter {
    transition: color 1000ms;
}